<h1 class="text-center mt-4" style="color: red">
    "<%= @note.title %>"
</h1>

<div class="row w-50 mt-4 mx-auto">
    <hr >
    <%= markdown(@note.content) %>
    <div class="mb-4"> 
        <%= link_to 'Back', user_book_notes_path,class: 'btn btn-warning text-white' %>
    </div>
</div>